@charset "UTF-8";
.container{
	margin: 120px auto 0 auto;
	height: 400px;
	width: 600px;
	background-color: #BA55D3;
	overflow: hidden; 
}
.welcome{
	font-size: 24px;
	width: 600px;
	height: 50px;
	text-align: center;
	background-color: #8B008B;
	line-height: 50px;
	color: white;
}
.main{
	margin: 0 auto;
	display: block;
}
ul{
	list-style: none;
	margin-top: 0px;
}
ul li{
	padding: 50px 0 0 150px;
}
.error {
	height: 10px;
	line-height: 14px;
	font-size: 12px;
	margin-left: 50px;
	color: #ff000c;
}
.button{
	 background-color: #FFAA31;
	 color: white;
	 width: 100px;
	 height: 30px;  
	 font-size: 18px;
	 margin-left: 50px;
}