.container{
	margin: 120px auto 0 auto;
	height: 400px;
	width: 600px;
	background-color: #BA55D3;
	overflow: hidden; 
}
.welcome{
	font-size: 24px;
	width: 600px;
	height: 50px;
	text-align: center;
	background-color: #8B008B;
	line-height: 50px;
	color: white;
}
.userlogin{
	margin: 100px auto 0 auto;
	background-color: #8B008B;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.adminlogin{
	margin: 10px auto 0 auto;
	background-color: #8B008B;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
a{
	color: white;
	font-size: 24px;
	text-decoration: none;
}
a:hover{
	color: #8B0000;
}